.wineries-area {
  display: flex;
  align-items: flex-start;
  margin-top: var(--size-xs);
  margin-right: var(--global-margin);
  margin-left: var(--global-margin);
  flex-direction: column;
}

.wineries-titles {
  font-size: var(--font-size-normal);
  font-weight: bold; 
  margin-left: var(--size-xs);
  color: var(--blue-03);
}