.wineries-area {
  display: flex;
  align-items: flex-start;
  margin-top: var(--size-xs);
  margin-right: var(--global-margin);
  margin-left: var(--global-margin);
  flex-direction: column;
}

.wineries-filter-area {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.wineries-filter-area-right {
  display: flex;
  flex-direction: row;
}

.wineries-filter-area-left {
  display: flex;
  color: var(--link);
}

.wineries-titles {
  font-size: var(--font-size-normal);
  font-weight: bold; 
  margin-left: var(--size-xs);
  color: var(--blue-03);
}