@import "./../../../assets/styles/ibuy.css";

.top-banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}

.top-banner-text {
  display: flex;
  font-size: var(--font-size-normal);
  font-weight: bold;
  color: #504031;
}

.top-banner-separator {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #504031;
  margin: 0 4px 0 0;
  padding: 0;
}

