@import "./../../../assets/styles/global.css";

.items-view-images {
  display: flex;
  flex-direction: row;
}

.items-view-attention {
  margin-right: 8px;
}

.items-view-item-titles {
    font-size: var(--font-size-normal);
    font-weight: bold;
    margin-top: var(--size-normal);
    margin-bottom: var(--size-s);
    text-align: right;
}

.items-view-item-overview {
    font-size: var(--font-size-normal);
    margin-top: var(--size-normal);
    margin-bottom: var(--size-s);
    font-weight: normal;
    text-align: right;
}

.items-view-item-attributes {
  display: flex;
    font-size: var(--font-size-normal);
    margin-top: var(--size-xs);
    font-weight: normal;
    text-align: right;
}

.items-list-table {
  width: fit-content;
}

.items-list-details {
  position: absolute;
  top: 0px;
  right: 10px;
  background-color: var(--light-blue-00); 
  padding: 10px; 
  border: solid 1px var(--blue-03)
}

.items-list-details-popup-hide {
  display: none;
}

.items-list-details-popup-show {
  display: block;
}

.item-details-area {
  text-align: right;
}